.section {
    height: 600px;
    opacity: 1;
    padding: 3em;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .section-header {
    margin: 1em auto;
    letter-spacing: 0;
    font: 40px/54px Nunito;
    color: #212529;
  }
  
  .section-content {
    padding-top: 2em;
    margin: 0 auto;
    font: 18px/26p Nunito;
    color: #343A40;
  }


  .home-patents {
    height: 600px;
    background: #042540 0% 0% no-repeat padding-box;
  }
  
  .home-patents .section-header {
    color: #FFFFFF;
  }
  
  .home-patents .section-content {
    color: #CED4DA;
  }