<app-nav-menu></app-nav-menu>

<div flex class="md-padding page-content">
      <router-outlet></router-outlet>

      <div class="footer-section">

            <div fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="100px" fxLayoutGap.xs="0">
                        <span>About</span>
                        <span>Terms</span>
                        <span>Privacy Policy</span>
            </div>

            <div class="footer-row" fxLayout fxLayout.xs="row" fxLayoutAlign="center" fxLayoutGap="0.5%"
                  fxLayoutGap.xs="0">
                  <span>© Dell - TIDE 2019</span>
            </div>

      </div>
</div>