<div class="container">

    <div class="home-banner">
      <span>Technology & Innovation for Digital Experience</span>
    </div>
  
    <div class="section home-TIDE" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px"
      fxLayoutGap.xs="0">
      <div class="" fxFlex="1 1 20%" fxFlexOffset="50px" fxFlexOffset.xs="0">
        <img class="tide-logo" src="./../../../assets/images/TidePrint.png" alt="TIDE logo" />
      </div>
      <div fxFlex="auto" class="section-content">
        <span>
          TIDE: Technology and Innovation for Digital Excellence is a revamped tower under CIO People.
          <br /> It is a team that takes care of all things innovative, including hosting Hackathons,
          patent rallies, Ted Talks, Training sessions.
        </span>
      </div>
    </div>
  
    <div class="section-topic">
      <span class="section-content">Upcoming Events</span>
    </div>
  
    <div class="section home-events">
  
      <button class="home-event-nav-btn" mat-fab aria-label="Previous event">
        <mat-icon>navigate_before</mat-icon>
      </button>
  
      <mat-card class="event-card">
        <img mat-card-image src="./../../../assets/images/event-card-header.png" alt="Event-Card-Image">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>TIDE Event 01</mat-card-title>
          <mat-card-subtitle>16 Aug 2019</mat-card-subtitle>
        </mat-card-header>
  
        <mat-card-content>
          <p>
            Ut faucibus maximus ante, iaculis lobortis ligula rhoncus sit amet. Proin finibus non nulla non phar etra.
            Quisque nec risus metus. Proin commodo, ante eget sollicitudin mattis
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="event-info" mat-button>Know more</button>
          <button class="event-register" mat-button>Register</button>
        </mat-card-actions>
      </mat-card>
  
      <mat-card class="event-card">
        <img mat-card-image src="./../../../assets/images/event-card-header.png" alt="Event-Card-Image">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>TIDE Event 02</mat-card-title>
          <mat-card-subtitle>20 Aug 2019</mat-card-subtitle>
        </mat-card-header>
  
        <mat-card-content>
          <p>
            Ut faucibus maximus ante, iaculis lobortis ligula rhoncus sit amet. Proin finibus non nulla non phar etra.
            Quisque nec risus metus. Proin commodo, ante eget sollicitudin mattis
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="event-info" mat-button>Know more</button>
          <button class="event-register" mat-button>Register</button>
        </mat-card-actions>
      </mat-card>
  
      <mat-card class="event-card">
        <img mat-card-image src="./../../../assets/images/event-card-header.png" alt="Event-Card-Image">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>TIDE Event 03</mat-card-title>
          <mat-card-subtitle>20 Aug 2019</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            Ut faucibus maximus ante, iaculis lobortis ligula rhoncus sit amet. Proin finibus non nulla non phar etra.
            Quisque nec risus metus. Proin commodo, ante eget sollicitudin mattis
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="event-info" mat-button>Know more</button>
          <button class="event-register" mat-button>Register</button>
        </mat-card-actions>
      </mat-card>
  
      <button class="home-event-nav-btn" mat-fab aria-label="Next event">
        <mat-icon>navigate_next</mat-icon>
      </button>
  
    </div>

  
  </div>