<div class="container">

  <div class="section home-hackathon" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px"
    fxLayoutGap.xs="0">
    <div class="" fxFlex fxFlexOffset="100px" fxFlexOffset.xs="0">
      <img class="section-logo" src="./../../assets/images/hackathon-tn.png" alt="Hackathon image" />
    </div>
    <div class="section-content" fxFlex="800px">
      <span class="section-header">Hackathons</span>
      <br />
      <span >
        Technology plays a growing role in preparing students for career readiness in a
        rapidly changing world. The careers of tomorrow in advancing areas, like IoT and data science, require that we
        invest in developing the youth with the skills needed to fill these roles. That means, working with our industry
        and academia to offer youth significant level of insights in practical application of technology. We, at Dell
        Technologies, believe deeply that our success and the success of our industry is dependent on innovation which
        can be achieved through this growing network of skilled professionals.
      </span>
    </div>
  </div>

</div>